.mobile-button-link {
  &__btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 500ms;

    &:hover {
      transform: scale(1.1);
    }

    &--call {
      background-image: url("../img/call.svg");
    }

    &--chat {
      background-image: url("../img/chat.svg");
      margin-left: 16px;
    }

    &--profile {
      background-image: url("../img/profile.svg");
      margin-left: 16px;
    }

    &--close {
      background-image: url("../img/close.svg");
      margin-right: 17px;

      @media (min-width: 1440px) {
        display: none;
      }
    }

    &--search {
      background-image: url("../img/search.svg");
      margin-left: auto;
    }
  }
}
