.button-link {
  &__logo {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    margin-right: 16px;
    transition: 500ms;
    &:hover {
      transform: scale(1.1);
    }

    &--burger {
      background-image: url("../img/burger.svg");
    }

    &--call {
      background-image: url("../img/call.svg");
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &--chat {
      background-image: url("../img/chat.svg");
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &--profile {
      background-image: url("../img/profile.svg");
      display: none;

      @media (min-width: 768px) {
        display: block;
        margin-right: 42px;
      }
    }

    &--repair {
      background-image: url("../img/repair.svg");
    }

    &--check {
      background-image: url("../img/checkstatus.svg");
      margin-right: 0;
    }
  }
}
