.main-button-link {

  &__logo {
    width: 40px;
    height: 40px;
    margin-left: 8px;

    &--check {
      background-image: url("../img/checkstatus.svg");
    }

    &--repair {
      background-image: url("../img/repair.svg");
    }
  }
}
